@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
  margin: 0;
  color: #000000;
  text-align: center;
  line-height: 80%
}

img {
  width: 100%;
}

Section
.section {
  padding: 2rem 0;
}
/*
.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
} */

/* Landing Page */
#landingPage {
  margin: 0;
  padding: 0;
  background: url('../img/crowd.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  text-align: center;
}

#landingPage .container {
  margin-top: 48vh
}


/* Navigation */
nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: center;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}
