 @import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
  margin: 0;
  color: #ffffff;
  text-align: center;
  line-height: 80%
}

img {
  width: 100%;
}

Section
.section {
  padding: 2rem 0;
}

/*.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
} */

/* Landing Page */
#landingPage {
  margin: 0;
  padding: 0;
  background: url('../img/wind2.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  text-align: 70vh;
}

#about {
  margin: 0;
  padding:8rem;
  font-size: 2rem;
  height: 90vh;
  line-height: normal;
  color: #000000;
}
#data{
  margin: 0;
  padding: 0 10;
  height: 100vh;
  background-color: #A0A0A0;
}

#viz{
  margin: 0;
  padding: 0;
  height: 100vh;
}


#landingPage .container {
  margin-top: 35vh
}

/* Section */
.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 1rem;
}

.about-paragraph
{
  font-size: 2rem;
  padding:0 10% 0 10%;

}
.about-trademark{
  font-size: .5rem;
  padding: 0 5% 0 5%;
}

section #data {
  padding: 5rem 0;
  height: 100vh;
}

section #viz {
  padding: 0
}

.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

.BatArea {
 width: 400px;
}
/* Drop-down Menu */
/* Style The Dropdown Button */
.dropbtn, .dropbtn2{
  background-color: #003366;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown, .dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown2-content {
  display: table;
  position: relative;
  background-color: #a9a9a9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown*/
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  display: block;
}

/* Links inside the dropdown*/
.dropdown2-content button {
  color: black;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Change color of dropdown links on hover */
.dropdown2-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover*/ 
.dropdown:hover .dropdown-content {
  display: block;
}

/* Show the dropdown menu on hover*/ 
.dropdown2:hover .dropdown2-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown*/ 
.dropdown:hover .dropbtn {
  background-color: #003366;
}

/* Change the background color of the dropdown button when the dropdown content is shown*/
.dropdown2:hover .dropbtn2 {
  background-color: #003366;
}

/* Navigation */
nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: center;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}